<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.S3Project"
        tools:targetApi="31">
        <activity
            android:name=".Owner_Dashboard.owner_fees"
            android:exported="false" />
        <activity
            android:name=".Owner_Dashboard.owner_view_attendance"
            android:exported="false" />
        <activity
            android:name=".Owner_Dashboard.owner_reviews"
            android:exported="false" />
        <activity
            android:name=".Teacher_dashboard.add_batch"
            android:exported="false" />
        <activity
            android:name=".Owner_Dashboard.owner_add_instructor"
            android:exported="false" />
        <activity
            android:name=".Dashboard.teacher_dashboard"
            android:exported="false" />
        <activity
            android:name=".Dashboard.owner_dashboard"
            android:exported="false" />
        <activity
            android:name=".Dashboard.parent_dashboard"
            android:exported="false" />
        <activity
            android:name=".Dashboard.student_dashboard"
            android:exported="false" />
        <activity
            android:name=".SignUp_Login.student_signup"
            android:exported="false" />
        <activity
            android:name=".SignUp_Login.studentparent"
            android:exported="false" />
        <activity
            android:name=".SignUp_Login.parent_signup"
            android:exported="false" />
        <activity
            android:name=".SignUp_Login.login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>